@import "../config/globals.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  .view-cart {
    background: $color-purple;
    border: none;
    padding: 10px 20px;
    color: $color-white;
    border-radius: 5px;
    margin-top: 50px;
  }
  position: relative;
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
  }
  .productItems {
    @include desktop-view;
    row-gap: 100px;
    column-gap: 25px;
    margin-top: 30px;
    li {
      list-style: none;
    }
    @include mobile {
      @include mobile-view;
      margin-left: 36px;
      row-gap: 40px;
    }
    @include tablet {
      @include tablet-view;
      margin-left: 49px;
      row-gap: 50px;
      column-gap: 0;
    }
  }
}
